body {
	background-color: #232323;
	margin: 0;
	font-family: 'PT Sans Caption', sans-serif;
	letter-spacing: 1px;
}

/*========================================Game body================================================================*/
.square {
	width: 33%;
	padding-bottom: 44.5%;
	border-radius: 10px;
	transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin-top: 2%;
}
.s1{
	margin-left: 0;
	z-index: 0;
}
.s2{
	margin-left: 10%;
	z-index: 1;
}
.s3{
	margin-left: 20%;
	z-index: 2;
}
.s4{
	margin-left: 30%;
	z-index: 3;
}
.s5{
	margin-left: 40%;
	z-index: 4;
}
.s6{
	margin-left: 50%;
	z-index: 5;
}
.s7{
	margin-left: 60%;
	z-index: 6;
}
.container {
	padding-left: 3%;
	width: 42%;
	max-width: 600px;
	margin: 1% auto;
	display: inline-block;
	position: relative;
}
.wrap{
	margin: 1% auto;
	width: 100%;
	text-align: center;
}
/*=======================================Header and navbar========================================================================*/
.header-content{
	padding: 1% 1% 0% 1%;
	text-align: justify;
}
.header-content > img {
	width: 3.5%; /* Declare your value. Can be in relative units. */
	display: inline-block;
	vertical-align: middle;
	/* IE fix. */
	*display: inline;
	zoom: 1;
	}
.header-content:after {
	content: "";
	width: 100%;
	display: inline-block;
    }
#logo, #logo2, #logo3 {
	cursor:pointer;
	width: 7%;
}
#logo2, #logo3 {
	display:none;
}
#header {
	background-color: #009896;
	width: 100%;
}
#navbar {
	text-align: center;
	margin: 1% 0 0 0;
}
.action-bar{
	text-align: center;
	margin: 15% 0 0 0;
}
span {
	margin: 0;
}
.active {
	background-color: #009896;
	color: white;
}
/*======================================Buttons and result/goal displays====================================*/

.textDisplay {
	width: 20%;
	padding: 2% 0;
	display: inline-block;
}

.btn-coursor{
	cursor: pointer;
}
button{
	border-radius: 12px;
	height: 100%;
	display: inline-block;
	padding: 1%;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	font-size: 100%;
	font-family: 'Press Start 2P', cursive;
	transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
}

.icon-btn{
	height: 30px;
	display: block;
	padding-bottom: 7%;
	margin: 0 auto;
}

.btn-action{
	color: #232323;
	font-size: 80%;
	margin: 0 1.5%;
	border: 2px solid black;
	width: 110px;
}
.btn-block{
	color: #232323;
	font-size: 80%;
	margin: 0 1.5%;
	border: 2px solid black;
	width: 110px;
}
.reset-btn {
	background: #009860;
}

.btn-hit{
	background-color: #25c2ce;
}

.btn-stand{
	background: #ed3b72;
}

.btn-double{
	background-color: #f4e662;
}

.main-btn {
	background: none;
	color: #009896;
	font-size: 80%;
	border: none;
	margin: 0 8%;
}

.main-btn:hover {
	background-color: #009896;
	color: white;
	border: none;
}
.btn-action:hover {
	background-color: #1f3b63;
	color: #f4e662;
}
.help {
	display: block;
	margin: 1.5%;
}

.results{
	margin: 2% auto -2% auto;
	text-align: center;
	width: 100%;
}

.score{
	display: inline-block;
	background-color: #009860;
	padding: 15px 30px;
	border-radius: 100%;
	border: 3px solid black;
	margin: -2% 2% 0 2%;
	font-size: 80%;
}
.result-section{
	display: inline-block;
	width: 22%;
	text-align: center;
	margin: 0 auto;
}
.info-text {
	font-weight: bold;
	font-family: 'Press Start 2P', cursive;
	word-spacing: 0.1em;
	display: inline-block;
	text-transform: uppercase;
}
.info-text-2{
	color: white;
	font-size: 70%;
	line-height: 150%;
}
/*=====================================================Modal Window=================================================================*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 10000000000000000;

}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 15px;

}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #009896;
    color: white;
    border-radius: 15px 15px 0px 0px;
    font-family: 'Press Start 2P', cursive;
}
.modal-body {
	padding: 20px 16px;
	letter-spacing: 0px;
	border-radius: 15px;
}
.modal-footer {
    padding: 2px 16px;
    background-color: #009896;
    color: white;
    border-radius: 0px 0px 15px 15px;
    font-family: 'Press Start 2P', cursive;
}
.img-help-icon {
	width: 50px;
	padding: 1%;
}

/*===============================================After win/loss/game over classes on top of HTML=======================================*/
#win, #lost, #tied {
	color: #ed3b72;
	min-height: 100px;
	position: absolute;
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	display: none;
	font-family: 'Press Start 2P', cursive;
	font-size: 9vw;
	margin-top: 10%;
}

/*=============================================Media Queries============================================================*/
@media (max-width: 2200px){
	.action-bar{
	margin: 20% 0 0 0;
	}
}
@media (max-width: 1850px){
	.container {
	max-width: 400px;
	}
	.action-bar{
	margin: 10% 0 0 0;
	}
}
@media (max-width: 1800px) {
	.action-bar{
	margin: 16% 0 0 0;
	}
}
@media (max-width: 1650px) {
	.modal-content{
		width: 60%;
	}
	#win, #lost, #tied {
		font-size: 10vw;
	}
}

@media (max-width: 1200px) {
	.action-bar{
	margin: 25% 0 0 0;
	}
	#win, #lost, #tied {
		font-size: 13vw;
	}
}
@media (max-width: 900px) {
	.header-content > img {
		width: 5%;
	}
	#win, #lost, #tied {
		font-size: 18vw;
	}
	img.nono-md {
		display: none;
		width: 100%;
	}
	img#logo, img#logo3, img#logo2 {
		width: 10%;
	}
	.modal-content {
	    width: 90%;
	}
	.modal{
		height: 80%;
	}

}
@media (max-width: 600px) {
	.result-section{
		width: 30%;
	}
	.header-content > img {
		width: 7%;
	}
	img.nono-sm {
		display: none;
		width: 100%;
	}
	img#logo, img#logo3, img#logo2 {
		width: 15%;
	}
}
@media (max-width: 400px) {
	img.nono-xs {
		display: none;
	}
}
